/* For debugging purposes. */
/*div {
  border: 1px solid black;
}*/

/* For debugging purposes. */
/*.blog-header > div {
  border: 1px dashed gray;
}*/

/* Blogpost structure. */
.blog-post {
  padding: 10px;
  text-align: center;
  margin: 0 auto 20px;
  max-width: 50%;
}

/* Blogpost header. */
.blog-title>h2 {
  display: inline;
}

.blog-author {
text-align: center;
}
.blog-author>h3 {
  display: inline;
}
.blog-date {
  text-align: center;
}
.blog-date>h3 {
  display: inline;
}

/* Blogpost header: Grid with two columns for author and date. */
.container {
  display: inline-grid;
  grid-template-columns: 1fr 1fr;
}

.item {
  display: flex inline;
  justify-content: center;
  margin: 5px;
}

/* Media. */
.media {
  margin: 5px;
  padding: 5px;
  display: inline-block;
  text-align: center;
  max-width: 90%;
  border: 1px black solid;
}
img {
  width: 100%;
}
